{% extends "header.html" %}
{% block body %}

<h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Results of Convolutional Neural Network</span></h5>
<div class="panel panel-success">
    <div class="panel-heading">Neural Network Data</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Images Seen</th>
                <th>Training Accuracy</th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in ConvResult.items() %}
            <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
            </tr>
        {% endfor %}
            <tr>
                <th> Test Accuracy </th>
                <td> {{ test_accuracy}} </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}